<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.maven.ide.eclipse.gdt.gwt.GwtProjectConfigurator"
            name="GWT Configurator"
            id="org.maven.ide.eclipse.gdt.gwtProjectConfigurator">
      </configurator>
   </extension>
   <!--
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.maven.ide.eclipse.gdt.gwt.GwtI18NProjectConfigurator"
            name="GWT Configurator"
            id="org.maven.ide.eclipse.gdt.gwtI18NProjectConfigurator">
      </configurator>
   </extension>
   
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.maven.ide.eclipse.gdt.gae.GaeProjectConfigurator"
            name="GAE Configurator"
            id="org.maven.ide.eclipse.gdt.gaeProjectConfigurator">
      </configurator>
      
   </extension>
    -->

<!--
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.maven.ide.eclipse.gdt.core.preferences.MavenGWTPreferencePage"
            id="org.maven.ide.eclipse.gdt.core.preferences.MavenGWTPreferencePage"
            name="Maven GWT Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.maven.ide.eclipse.gdt.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.maven.ide.eclipse.gdt.core.properties.MavenGWTPropertyPage"
            id="org.maven.ide.eclipse.gdt.core.properties.samplePropertyPage"
            name="Maven GWT WTP"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="projectNature"
               value="org.maven.ide.eclipse.maven2Nature">
         </filter>
      </page>
   </extension>
-->
</plugin>
